<%- include ("./partials/cabecera") %> 
<%- include ("./partials/navbar") %>

<h1><%=Libro%></h1>
<img src="<%=ruta%>" alt="" height="600px">
<h3><%=Autor%></h3>
<h3><%=Edicion%></h3>
<h3><%=Editorial%></h3>
<h5><%=Paginas%></h5>
<h5><%=Idioma%></h5>
<p><%=Resumen%></p>
<br><br>
<a class="btn btn-primary" href="/galeria" role="button">Link</a>


<%- include("./partials/footer")%>
<%- include ("./partials/pie") %> 